---
import Hr from "../../../components/Hr.astro";
import Cover from "../../../components/Cover.svelte";
import { getCollection, render, type CollectionEntry } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import H2 from "../../../components/H2.astro";
import H3 from "../../../components/H3.astro";
import P from "../../../components/P.astro";
import Gallery from "../../../components/Gallery.astro";
import BandsLine from "../../../components/BandsLine.astro";
import Img from "../../../components/Img.astro";
import Ul from "../../../components/Ul.astro";
import A from "../../../components/A.astro";
import Claim from "../../../components/Claim.astro";

export async function getStaticPaths() {
  const posts = await getCollection("seasons");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"seasons">;
};

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <header class="flex justify-between sm:-mb-9 mb-[-6vw] relative ml-4">
    <a href="/" class="flex flex-col sm:gap-4 gap-1">
      <span class="font-head sm:text-5xl text-[7vw]">Malý festival</span>
      <span class="font-head sm:text-3xl text-[4vw] text-white"
        >na velké zahradě</span
      >
    </a>
    <menu><li></li></menu>
  </header>
  <Cover
    client:load
    image={post.data.cover}
    title="3. ročník"
    subtitle={post.data.date.toLocaleDateString("cs-CZ")}
  />
  {post.data.bands && <BandsLine bands={post.data.bands} />}

  <Claim claim={post.data.claim} />

  <div class="max-w-xl mx-auto px-4">
    <Content
      components={{ h2: H2, h3: H3, p: P, a: A, ul: Ul, img: Img, hr: Hr } as Record<string, unknown>}
    />
  </div>
  <section class="mt-16">
    <div class="max-w-xl mx-auto px-4">
      <H2>Obrázky</H2>
    </div>
    <Gallery year={post.id} showOnlyPromotion />
    <div
      class="relative flex justify-center after:bg-black after:w-80 after:block after:absolute after:top-[52%] after:h-[1px]"
    >
      <a
        class="text-xl px-4 text-center bg-white py-4 my-8 relative z-10 hover:bg-transparent transition-colors duration-500"
        href={`/rocnik/${post.id}/obrazky`}>Všechny obrázky</a
      >
    </div>
  </section>
</Layout>
