---
import Analytics from "@vercel/analytics/astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const SITE_TITLE = "Malý festival na velké zahradě";

type Props = {
  currentSeasonId?: string;
  title?: string;
  description?: string;
};

const { currentSeasonId, title = SITE_TITLE, description } = Astro.props;
---

<!doctype html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}</title>
    {description && <meta name="description" content={description} />}
    <link rel="stylesheet" href="https://use.typekit.net/tai1czq.css" />
  </head>
  <body>
    <Analytics />
    <main
      id="swup"
      class="transition-main max-w-6xl mx-auto pt-2 sm:pt-4 pb-20 px-4 sm:px-8"
    >
      <slot />
      <Footer currentSeasonId={currentSeasonId} />
    </main>
  </body>
</html>
